.hamburger {
    
    display: none;

    @include mq($tablet-portait){
        display: block;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
        margin-right: 1em;
        position: relative;
        top: -4px;
        cursor: pointer;

        .hamburger-icon {
            color: $black;
            line-height: 1;
            font-size: 4.2em;
        }

        .hamburger-text {
            @include visually-hidden;
        }

        .hamburger:focus,
        .hamburger-icon:focus {
            outline: none;
        }

        .hamburger:focus .hamburger-icon {
            outline: 5px solid rgba($blue, 0.5);
        }

    }
}