.home-header {
    position: relative;
    z-index: 99;
    background-color: rgba($white, 0.7);
}

.banner {
    position: relative;
    margin-top: rem(-152);
    h1 {
        @include flatten();
        position: absolute;
        display: block;
        bottom: 20%;
        left: 40%;
        right: 10%;
        line-height: 1.4;
        color: rgba($white, 0.9);
    }

    img {
        display: block;
    }

    @include mq($tabletLandscape) {
        h1 {
            font-size: 3.1vw;
        }
    }

    @include mq($tabletPortrait) {
        margin-top: rem(-120);
        h1 {
            left: 20%;
            font-size: rem(24);
        }
    }

    @include mq($phoneLandscape){
        margin-top: rem(-90);
    }

    @include mq($phonePortrait){
        margin-top: 0;
        h1 {
            left: 10%;
            bottom: 10%;
        }
    }

    @include mq(rem(375)){
        margin-top: rem(-90);
        h1 {
            display: none;
        }
    }

}

.homepage-container {
    padding: rem(16);
    background-color: $bg-lightgray;
    section {
        background-color: $white;
        padding: rem(32);
    }
    a{
        color: white;
    }
}

.btn {
    color:white;
    text-decoration:none;
    text-transform: uppercase;
    padding:5px 10px;
    border-radius:3px;
    font-family: $body-font;
    font-size:1.2em;
   }

   .btn-red {
    @include button-bg(red);
 }   