.student-container {
  padding: rem(16);
  background-color: $bg-lightgray;
  section {
      background-color: $white;
      padding: rem(32);
      margin-bottom: 0.9375rem;
      border-collapse: collapse;
      border-radius: 0.5rem;
  }
  @media (max-width: $tablet-portait) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block	;
  
      
      
    }
}
  a {
      color: $red;
  }
}

.student-container h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #454545;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0;
  margin-bottom: 0.9375rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: inherit;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: white;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: $bcit-navy;
  color: $white;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.fixed-table-loading{
  display:none;
}